/* You can add global styles to this file, and also import other style files */
div {
  background-color: grey;
  color: mediumblue;
  font-size: 20px;

}

button {
  background-color: green;
  color: red;

}
