/* You can add global styles to this file, and also import other style files */
div {
  background-color: grey;
  color: mediumblue;
  font-size: 20px;

}

button {
  background-color: green;
  color: red;

}


input.ng-valid {
  background-color: green;
}

input.ng-invalid {
  background-color: red;
}

input.ng-dirty {
  background-color: yellow;
}

input.ng-pristine {
  background-color: deeppink;
}

input.ng-untouched {
  background-color: greenyellow;
}
