<p>
  book-edit works!
</p>

<form *ngIf="book" #form="ngForm" (ngSubmit)="save(form.value)">
  <input
    type="text"
    [(ngModel)]="book.title"
    name="title"
    #title="ngModel" required>
  <div [hidden]="!title.errors?.required || title.pristine">Voll daneben</div>
  <br>
  <input
    type="text"
    [(ngModel)]="book.isbn"
    name="isbn"
    #isbn="ngModel" required>
  <div [hidden]="!isbn.errors?.required || title.pristine">Pflichtfeld!</div>
  <br>
  <input
    type="text"
    [(ngModel)]="book.author"
    name="author"
    #author="ngModel" required>
  <br>
  <input
    type="text"
    [(ngModel)]="book.subtitle"
    name="subtitle"
    #subtitle="ngModel">
  <br>
  <input
    type="text"
    [(ngModel)]="book.abstract"
    name="abstract"
    #abstract="ngModel">
  <br>
  <input
    type="text"
    [(ngModel)]="book.numPages"
    name="numPages"
    #numPages="ngModel">
  <br>
  <!-- <button type="submit" [routerLink]="['/books']">Speichern</button> -->
  <button type="submit" [routerLink]="['/books']">Speichern</button>



</form>
